[Desktop Entry]
Type=Application
Name=Quinco Chat Server
Comment=Run the Quinco Chat server
Exec=AppRun
Icon=quinco-chat
Terminal=false
Categories=Network;Chat;